body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 55px;
    line-height: 0.5;
}
#food-network{
    display: flex;
    margin-top: 70px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 80%;
}
.centering-div{
    margin: auto;
}
.centering-div p{
    font-size: 18px;
    color: #999;
}
.order-button{
    text-decoration: none;
    background: linear-gradient(lightsalmon,tomato);
    padding: 14px 32px;
    color: white;
    border-radius: 40px;
}





.about-section{
    display: flex;
    margin-top: 60px;
    padding-top: 50px;
}
.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.about-section .half-width{
    width: 50%;
}
.about-section img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .about-me{
    margin: auto;
 }
 .about-me p{
     padding-right: 24%;
     line-height: 1.7;
     color: rgb(61, 58, 58);
     font-size: 17px;
 }




 .heading-recipe{
    text-align: center;
    color: rgb(128, 102, 102);
}
 .recipee-para{
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 18px;
 }

.my-recipe{
    display: flex; 
    margin-top: 50px;
}

.one-third-width{

}

 .recipee-item{
     box-shadow: 7px 5px 40px rgb(206, 201, 201);
     width: 70%;
    text-align: center;
     padding: 4%;
     border-radius: 30px;
 }
 .kebab-margin{
    margin-left: 21%;
 }
 .beef-margin{
     margin-left: 11%;
 }
 .thai-soup-margin{
     margin-right: 11%;
 }
 .recipee-item img{
     width: 100%;
 }
 .recipee-item p{
     font-size: 19px;
     line-height: 1.5;
 }

 